html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  font-family: Roboto;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
    text-decoration: none;
}
#app-header {
  width: 100%;
  height: 20vh;
/*  position: fixed;*/
  background-color: #fff;  
  text-align: center;
  z-index: 10;
}
#app-header .title h1 {
  line-height: 10vh;
  color: black;
  margin: 0;
}
#app-header h3 {
  line-height: 1vh;
  margin: 0;
  color: black;
  font-family: Satisfy;
  margin-bottom: 20px;
}
.icon-menu {
    display: block;
    background-image: url("img/swipe.svg");
    width: 40px;
    height: 40px;
    display: none;
}
.icon-git {
  position: absolute;
  top: 20px;
  left: 20px;  
}
.icon-git a {
  text-decoration: none;
  cursor: pointer;
}
.icon-git img {
  width: 40px;
}

/*          Weather Api        */
.weather-api {
  display: block;
  width: 180px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  border-left: 1px solid #CCCCCC;
}
.weather-container {
  display: flex;
  justify-content: space-around;
  color: #333;  
  font-family: Helvetica, sans-serif;
}
.weather-info {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
}
.burguer-button {
  display: inline-block;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    display: none;
}
.menu-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
}
.menu-list {  
  flex-grow: 1;
}
.menu-list:hover {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.3);  
}
.menu-list a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
.menu-ul-responsive {
  display: none;
}
.sticky {
    width: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    font-size: 14px;
    padding-left: 0px;    
    background: #f6808c;
    transition: all 0.9s ease;
    color: #fff;
}

/*BODY*/
#app-body {
  width: 80%;
  margin: 20px auto;
  min-height: 75vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.news-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;   
}
.news-container h4 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  width: 95%;
  color: #CCCCCC;
}
.news-container-nyt {
  width: 30%;
}
.news-container-reuters {
  width: 30%;  
}
.news-container-left {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.news-container-fox {
  overflow: hidden;
}
.news-container-time {
  width: 85%;
  margin-top: -500px;
}
.time-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: white;
    border-right: 1px solid #CCCCCC;
}

/*Time api*/
.time-container:hover {
  box-shadow: 3px 3px 5px grey;
}
.time-img {
    width: 30%;
    order: 2;    
}
.time-img img {
  max-width: 100%;
}
.time-info {
    width: 60%;
    order: 1;
}
.time-info h1 {
    margin-top: 5px;
    text-align: left;
    font-size: 12px;
    color: #E90606;
}
.time-info p {
    font-size: 10px;
}

.article-container {
    width: 85%;
    overflow: hidden;
    padding: 16px;
    background: white;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #CCCCCC;
}
.article-container:hover {
    background: #ecf0f1;
}
.article-container .info h1 {
    margin-top: 5px;
    text-align: left;
}
.article-container .info {
    padding-left: 0;
}
.article-container .info .article-link {
  text-align: right;
  font-size: 12px;
}
.article-img img {
  max-width: 100%;
  background-size: cover;
}
.article-container-fox {
    width: 85%;
    overflow: hidden;
    padding: 16px;
    background: white;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}
.article-container-fox .info h1 {
    color: #000;
}
.article-container-fox .info h1:hover {
  cursor: pointer;
  color: #CCCCCC;
}

/*Unplash Api*/
.unplash-container {
  width: 100%;
}
.unplash-container img {
  width: 100%;
}
.recomendosYtrending {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recomendados-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.borderDoble {
  width: 100%;
  margin-left: 0;
  border-top: 2px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  height: 1px;
}
.titleH4 {
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  color: #CCCCCC;
  height: 20px;
  margin-bottom: 8px
}
.titleH4right {
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  color: #CCCCCC;
  height: 20px;
  margin-bottom: 0;
}

.article-mini-container {
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 5px 0 10px 0;    
    border: 1px solid #CCCCCC;
}
.article-mini-container:hover {
    background: #ecf0f1;
}
.article-mini-container .info-mini {
    padding-left: 0;
    line-height: 1rem;
    padding: 5px;
}
.article-mini-container .info-mini h2 {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}
.article-mini-container .info-mini p {
  font-size: 10px;
}
.article-mini-container .info-mini .article-mini-link {
  text-align: right;
  font-size: 10px;
}
.article-mini-img img {
  max-width: 100%;
  height: auto;
}

/*  TRENDING */
.trending-container {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.article-trending-container {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #FFCD05;
}
.article-trending-container:hover {
  background-color: #FFCD05;
}
.article-trending-container h1 {
  padding: 20px;
  margin: 0;
  color: #333;
}
.plus {
    border-radius: 50% ;
    background: #CCCCCC;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    padding: 10px;
    width: 16px;
    height: 16px;
    text-align: center;
}
.plus:hover {
   background: #fff;
   color: #CCCCCC;
    border-radius: 50% ;
    padding: 10px;
    width: 16px;
    height: 16px;
}
.plus-mini {
  border-radius: 50% ;
   background: #CCCCCC;
    color: #fff;
    font-size: 12px;
    font-family: Roboto;
    padding: 8px;
    width: 12px;
    height: 12px;
    text-align: center;
}
.plus-mini:hover {
   background: #fff;
   color: #CCCCCC;
    border-radius: 50% ;
    padding: 8px;
    width: 12px;
    height: 12px;
}
/*  SPINNER de loading */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #CCCCCC;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*       RESPONSIVE      */
@media screen and (max-width: 900px) {
  .news-container-nyt {
    width: 50%;
    order: 1;
  }
  .news-container-reuters {
    width: 50%;
    order: 2;
  }
  .news-container-left {
    width: 100%;
    order: 3;

  }
  .news-container-fox {
    width: 45%;
    order: 4;
  }
  .news-container-time {
    width: 47%;
    order: 5;
    margin-top: 0;
  }
} 

@media screen and (max-width: 768px) {
  #app-header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0px;
  background-color:rgba(0, 0, 0, 0.3);  
  text-align: center;
}
#app-header .title {
  margin-top: 10px;
}
#app-header h3 {
  display: none;
}
ul .sticky {
    display: none !important;
}
.icon-git {
  left: 100px;
  top: 10px;
}
.burguer-button {
		display: block;
    position: absolute;
	}
.menu-ul {
  display: none !important;
}
.menu-ul-responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 0;
    margin-left: -100%;    
    margin-top: -5px;
    background: rgba(255, 48, 80, .8);
    transition: all 0.5s;    
}
.menu-list-responsive {  
  flex-grow: 1;
}
.menu-list-responsive:hover {
  text-decoration: none;
}
.menu-list-responsive a {
  display: block;
  padding: 20px;
  text-decoration: none;
  border-top: 2px solid white;
  color: #fff; 
}
.active {    
    margin-left: 0;
}
#app-body {
  margin: 64px auto;
}
} /*fin mediaquery 768*/

@media screen and (max-width: 678px) {
  #app-header .title {
    margin-left: -70px;
  }
}
@media screen and (max-width: 550px) {
  #app-header .title {
    margin-left: 30px;
  }
  #app-header .weather-api {
    display: none;
  }
  .icon-git {
    display: none;
  }
 .menu-list-responsive a {
   display: block;
   padding: 20px;
   text-decoration: none;
   border-top: 2px solid white;
 }
.article-container {
  border-right: none;
}
  .news-container-nyt {
    width: 100%;
    order: 1;
  }
  .news-container-reuters {
    width: 100%;
    order: 2;
  }
  .news-container-left {
    width: 100%;
    order: 3;
  }
  .news-container-fox {
    width: 100%;
    order: 4;
  }
  .news-container-time {
    width: 100%;
    order: 5;
    margin-top: 0;
  }
  .time-container {
    border-right: none;
    padding: 0;
  }
  .unplash-container {
    width: 100%;
  }
  .recomendosYtrending {
    display: block;
  }
  .recomendados-container {
    width: 100%;
    order: 7;
  }
 .article-mini-container {
    width: 100%;
}
  .trending-container {
    width: 100%;
    order: 8;
  }

}